* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: auto;
    padding-inline: 2em;
}

main {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

h1 {
    text-align: center;
    margin-block: 1.5em;
}

img {
    width: 90%;
    grid-row: span 6;
}

h2 {
    grid-column: span 3;
}

h3 {
    grid-column: span 3;
}

ul {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-inline: 20%;
    padding-block: 0.5em;
    background-color: rgb(66, 127, 197);
    align-items: center;
}

li {
    color: white;
    list-style: none;
    font-weight: 600;
}

p {
    grid-column: span 3;
    font-size: 1.2em;
}

.favorite {
    width: 40px;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

h4 {
    color: rgb(13, 70, 134);
}

figure {
    grid-column: span 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}